h1 {text-align: center; font-size: 45px; font-family: Comic Sans MS; color: #C98000}
body {background: #FFBF47}
h2 {font-family: Comic Sans MS; text-decoration: underline; font-size: 30px; color: #C98000; margin-left: 15px}
h3 {text-align: left; font-family: Comic Sans MS; color: #C98000; font-size: 20px}
sus {font-family: Comic Sans MS; color: green; font-size: 17px}
txt {font-family: Comic Sans MS; font-size: 17px}
oo {text-align: right}
