h1 {text-align: center; font-size: 45px; font-family: Comic Sans MS; color: #b15e75}
body {background: #fddde6}
h2 {font-family: Comic Sans MS; text-decoration: underline; font-size: 30px; color: #b15e75; margin-left: 15px}
sus {font-family: Comic Sans MS; color: #a3566c; font-size: 20px}
txt {font-family: Comic Sans MS; font-size: 17px}
