h1 {text-align: center; font-size: 45px; font-family: American Typewriter; color: #C98000}
body {background: #FFBF47; 
    margin: 0;
   }
h2 {font-family: American Typewriter; text-decoration: underline; font-size: 30px; color: #C98000; margin-left: 15px}
h3 {text-align: left; font-family: American Typewriter; color: #C98000; font-size: 20px}
sus {font-family: American Typewriter; color: green; font-size: 17px}
txt {font-family: American Typewriter; font-size: 17px}
oo {text-align: right}
